* {
  margin: 0;
  padding:0;
}

.wrapper {
    margin: auto;
    max-width: 280px;
    font-size: 16px;
}

.user-container {
    padding: 30px 0;
    display: block;
    margin: auto;
    text-align: center;
}

.user-container > span {
    float: left;
}

.user-container > button {
    float: right;
}

.details-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    clear: both;
}

.user-input-holder input {
    display: inline-block;
}

.input-wrapper input {
    text-align: center;
}

.posts-wrapper {
    max-height: 0px;
    margin: auto;
    max-width: 280px;
    text-align: justify;
    overflow: hidden;
}

 /* .active {
    display: block;
}

 .inactive {
    display: none;
} */

.user-container button {
    border: none;
    color: hsl(0, 0%, 100%);
    padding: 0px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0px 5px 5px 0px hsla(0, 0%, 0%, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0px hsla(0, 0%, 0%, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px hsla(0, 0%, 0%, 0.75);
    -webkit-box-shadow: 0px 3px 5px 0px hsla(0, 0%, 0%, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.user-container button.fetch-users {
    background-color: hsl(238.8, 39.4%, 49.2%);
}

.user-container button.show {
    background-color: HSL(122.4, 39.4%, 49.2%);
}

.user-container button.hide { 
    background-color: hsl(0, 39.4%, 49.2%);
}

.posts-wrapper.show-posts {
    
    max-height: 5500px;
    transition: max-height 2s ease-out;
}

.posts-wrapper.hide-posts {
    
    max-height: 0px;
    transition: max-height 0.6s ease-out;
}

.toggle-posts-show {
    background-color: HSL(122.4, 39.4%, 49.2%);
}
.toggle-posts-hide {
    background-color: hsl(0, 39.4%, 49.2%);
}

.user-data-wrapper {
    width: 280px;
    max-height: 0px;
}

.user-data-wrapper.active {
    max-height: 5500px;
    transition: all 3s ease-out;
}
.user-data-wrapper.inactive {
    overflow: hidden;
    max-height: 0px;
    transition: all 0.6s ease-out;
}